:root {
  --blue-background: #0891b2;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

.color-block {
  position: absolute;
  width: 100vw;
  height: 300px;
  background-color: var(--blue-background);
  transform: translate(0px, -120px) skewY(-15deg);
  z-index: -1;
}

.portrait-container {
  width: calc(100vw - 40px);
  position: relative;
  margin: 20px 20px 20px 20px;
}

.portrait-container img {
  width: calc(100vw - 40px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.image-text {
  position: absolute;
  color: white;
  padding: 10px 10px;
  transform: translate(0%, -100%);
}

.banner {
  display: flex;
  flex-direction: column;
}

.banner h2 {
  align-self: center;
}

.banner p {
  margin: 0px 30px;
  font-size: 1rem;
  line-height: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

main h2 {
  margin-top: 20px;
}

.cell-container {
  border: 1px solid black;
}

.project-picture {
  text-align: center;
  font-size: 2rem;
  background-color: red;
  color: white;
  width: calc(100vw - 60px);
  height: 30vh;
  display: grid;
}

.project-info-container {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.project-info-container h3,
.project-description {
  margin-top: 15px;
}
