:root {
  --blue-background: #0891b2;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

.header-color-block {
  position: absolute;
  width: 100vw;
  height: 300px;
  background-color: var(--blue-background);
  transform: translate(0px, -120px) skewY(-15deg);
  z-index: -1;
}

.portrait-container {
  width: calc(100vw - 40px);
  position: relative;
  margin: 20px 20px 20px 20px;
}

.portrait-container img {
  width: calc(100vw - 40px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.image-text {
  position: absolute;
  color: white;
  padding: 10px 10px;
  transform: translate(0%, -100%);
}

.banner {
  display: flex;
  flex-direction: column;
}

.banner h2 {
  align-self: center;
}

.banner p {
  margin: 0px 30px;
  font-size: 1rem;
  line-height: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

main h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  row-gap: 20px;
}

.cell-container {
  border: 1px solid black;
}

.project-picture {
  text-align: center;
  font-size: 2rem;
  background-color: red;
  color: white;
  width: calc(100vw - 60px);
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-title-container {
  align-items: center;
  display: flex;
  width: 100%;
}

.project-title-container img {
  height: 1.2rem;
  justify-self: end;
  padding: 3px;
}

.project-title-container h3 {
  flex-grow: 1;
}

.project-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}

.project-info-container h3,
.project-description {
  margin-top: 15px;
}

.project-description {
  margin-bottom: 15px;
}

footer {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--blue-background);
}

footer h2 {
  padding-top: 20px;
  text-align: center;
}

footer p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.address-container {
  padding: 20px 0px;
}

.phone-number {
  padding-bottom: 5px;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0px;
}

.icon-container img {
  height: 2rem;
}
